.align-icons-row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }
.custn-icon {
    font-size: 32px;
    color: #ffffff9e;
}
.btn-icon {
    display: flex;
    background: #2a264d;
    width: 52px;
    height: 52px;
    border-radius: 36px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
    transition: all 0.2s ease-in 0s;
}
.icon-container {
    width: 100%;
    display: flex;
    min-height: 58px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}
.custm-box {
    display: flex;
    width: 120px;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.btn-icon-label {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: initial;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    color: #ffffff9e;
}