<div class="container-fluid">
  <div class="row p-4" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 5px; ">
    <div class="col-md-12">
      <h5>Vehicle Details</h5>
      <div class="row">
        <div class="col-md-4 mb-2">
          <label class="form-label label-head">Year</label>
          <select class="col-md-8 form-select" id="year" name="year">
            <option value="">year</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label label-head">Make</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label label-head">Model</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 mb-3">
          <div class="row mb-2">
            <div class="col-md-12">
              <label for="exampleFormControlInput3" class="form-label label-head">Vehicle Use</label>
              <div class="btn-group ms-3">
                <input type="radio" class="form-check-input  me-1" name="vehicleUse" id="option1" autocomplete="off" />
                <label for="option1">OWN</label>
                <input type="radio" class="form-check-input ms-2  me-1" name="vehicleUse" id="option2"
                  autocomplete="off" />
                <label for="option2">COMMERCIAL</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="label-head">Vehicle Category</label>
              <div class="btn-group ms-3">
                <input type="radio" class="form-check-input me-1" name="vehicleCat" id="option3" autocomplete="off"
                  (click)="onradio(false)" />
                <label for="option3">NEW</label>
                <input mdbRadio type="radio" class="form-check-input me-1 ms-2" name="vehicleCat" id="option4"
                  autocomplete="off" (click)="onradio(true)" />
                <label for="option4">OLD</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h6>Is your Vehicle Owned, financed or leased?</h6>
          <div class="btn-group">
            <input type="radio" class="form-check-input me-1" name="options" id="option5" autocomplete="off" />
            <label for="option5">OWNED</label>
            <input type="radio" class="form-check-input ms-2 me-1" name="options" id="option6" autocomplete="off" />
            <label for="option6">FINANCED</label>
            <input type="radio" class="form-check-input ms-2 me-1" name="options" id="option7" autocomplete="off" />
            <label for="option7">LEASED</label>
          </div>
        </div>

      </div>
      <div class="row" *ngIf="flag">
        <div class="col-md-4">Kilameter Driven: <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">Date of purchase: <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">Registration Number: <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">Insurance Expire Date: <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">No of Owners: <input type="text" class="form-control" /></div>
      </div>
    </div>
  </div>
</div>