<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <app-header></app-header>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12 p-0">

            <div style="background-color: rgb(57,43,40); height:660px; width:90px; float:left">            
                <app-side-nav></app-side-nav>
            </div>
            <div style="width:100%" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


<!-- rgb(168,116,76) rgb(6,203,152)-->